

<div id="basket_list">
<%= render "basket_list" %>
</div>

<div class="container basket-footer">
  <div class="row">
      <div class="col-lg-6" style="float:left"><%= link_to "Update List","#",:class => 'btn btn-primary' %></div>
      <div class="col-lg-6" style="float:right"><%= link_to "Checkout", "#" , :class => 'btn btn-primary' %></div>
  </div>
</div>






