<h3>Basket Genie</h3>

<div id="basket_list">
<%= render "basket_list" %>
</div>

<%= link_to "Update",
"#",
:class => 'btn btn-primary' %>


<%= link_to "Checkout",
"#",
:class => 'btn btn-primary' %>





